@import "http://fonts.googleapis.com/css?family=Cinzel:700";

/*
>>>>>>>>>>>>> HACKS
*/

html, body {
  border: 0;
  margin: 0;
  padding: 0;
  height: 100%
}

/*
use sane css boxing model
*/
* { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }

/*
get rid of outline boxes after selecting an element. technically has bad accessibility implications
*/
:focus {
	outline:0;
}

/*
tweaks for superscripts
*/
sup {
 vertical-align: baseline;
 position: relative;
 top: -0.4em;
 }


/*
>>>>>>>>>>>>> SITEWIDE
*/

h1 {
	font-family: 'Cinzel', serif;
}

h2, h3, body {
	font-family: Verdana, sans-serif;
}

a, a:visited, a:active {
	text-decoration: underline;
	color:black;
}

iframe
{
	border:0;
	margin:0;
	padding:0;
	width: 100%;
	height: 100%
}

.content {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    text-align: justify;
}

.embedded-map
{
	width: 640px;
	height: 480px;
	margin:0 auto;
}

#calendar-container
{
	width: 100%;
	height: 600px;
	text-align: center;
}

/*
>>>>>>>>>>>>> SITE HEADER
*/

#site-header h1 {
    margin: 0;
    padding-top: 0.5em;
    text-align:center;
    color: #FFFFFF;
    background-color: #4B98EB;
}

#rbr-logo {
	float: left;
	height: 80px;
	margin-left: 1em;
}

#rover-logo {
	float: right;
	height: 80px;
	margin-right: 1em;
}

/*
>>>>>>>>>>>>> NAV MENU
*/

#nav-menu {
    background-color:#4B98EB;
    border-radius: 0 0 1em 1em;
    padding: 0.5em;
    margin-bottom: 1em;
}

#nav-menu ul
{
	list-style-type:none;
	margin:0;
	padding:0;
	text-align: center;
}

#nav-menu li
{
	display:inline-block;
}

#nav-menu a:link,a:visited
{
	display:block;
	color:#FFFFFF;
	padding: 0.5em;
	text-decoration:none;
}

#nav-menu a:hover,a:active
{
	text-decoration:underline;
}

/*
>>>>>>>>>>>>> PROFILES
*/
#profile-box-wrapper
{
	float: left;
	width: 100%;
}

#profile-box
{
	margin-left: 11.5em;
	padding: 0.5em;
}

#profile-menu {
	float: left;
	margin-left:-100%;
	width: 10.5em;

	background-color:#4B98EB;
	border-radius: 0 1em 1em 0;
	padding: 1em;
}

#profile-menu ul
{
	float:left;
	list-style-type:none;
	margin:0;
	padding:0;
}

#profile-menu a, a:visited
{
	display:block;
	color:#FFFFFF;
	padding:0.5em;
	text-decoration:none;
	cursor:pointer
}

#profile-menu a:hover,a:active
{
	text-decoration:underline;
}

#profile-pic
{
	float: right;
	width: 15em;
	margin-top: 1em;
	margin-left: 0.5em;
}

#profile-pic-img
{
	display:none;
	width:100%;
}

/*
>>>>>>>>>>>>> GALLERY
*/

.gallery-pic-img
{
	height: 200px;
}

.gallery-pic-div
{
	height: 200px;
	width: 200px;
	overflow: hidden;
	text-align:center;
	
	float:left;
	margin: 0.25em;
}
